<%= render partial: "partials/headerImage" %>
<%= render partial: "partials/skillPageHeader" %>

<div class="container">
  <%= render partial: "partials/flash" %>
  <div class="content">
    <section id="skill-information">
      <div class="platform_ctn">
        <div data-toggle="buttons" id="platform_type" class="btn-group">
          <% if current_student.platform == 'Android' || current_student.platform == 'Both' %>
          <label class="btn btn-primary active">
            <%= radio_button_tag :platform, "Android", true %>
            Android
          </label>
          <% end %>
          <% if current_student.platform == 'iOS' || current_student.platform == 'Both' %>
          <label class="btn btn-primary">
            <%= radio_button_tag :platform, "iOS", false %>
            iOS
          </label>
          <% end %>
          <label class="btn btn-primary">
            <%= radio_button_tag :platform, "Web", false %>
            Web
          </label>
        </div>
      </div>
      <div class="game-list">
        <% @games.each do |game| %>
        <% if !game.android_link&.empty? %>
        <div class="game android_link">
          <a href="<%= game.android_link %>" target="<%= game.android_link %>">
            <div class="course">
              <div class="imgContainer">
                <!-- mathIcon should be replaced by the game icon -->
                <div class="mathIcon">
                  <div class="color-box transparent-red"></div>
                </div>
              </div>
              <div class="details">
                <div class="title">
                  <%= game.title %></div>
              </div>
            </div>
            <div class="body">
              <img src="<%= gulp_asset_path('images/math_man-icon.png') %>" alt=""/>
            </div>
            <div class="footer">
              <div class="rating"></div>
            </div>
          </a>
        </div>
        <% end %>
        <% if !game.ios_link&.empty? %>
        <div class="game ios_link" <%= "hidden" if !game.android_link&.empty? %>>
          <a href="<%= game.ios_link %>" target="<%= game.ios_link %>">
            <div class="course">
              <div class="imgContainer">
                <!-- mathIcon should be replaced by the game icon -->
                <div class="mathIcon">
                  <div class="color-box transparent-red"></div>
                </div>
              </div>
              <div class="details">
                <div class="title">
                  <%= game.title %></div>
              </div>
            </div>
            <div class="body">
              <img src="<%= gulp_asset_path('images/math_man-icon.png') %>" alt=""/>
            </div>
            <div class="footer">
              <div class="rating"></div>
            </div>
          </a>
        </div>
        <% end %>
        <% if !game.web_link&.empty? %>
        <div class="game web_link" <%= "hidden" if !game.android_link&.empty? || !game.ios_link&.empty?%>>
          <a href="<%= game.web_link %>" target="<%= game.web_link %>">
            <div class="course">
              <div class="imgContainer">
                <!-- mathIcon should be replaced by the game icon -->
                <div class="mathIcon">
                  <div class="color-box transparent-red"></div>
                </div>
              </div>
              <div class="details">
                <div class="title">
                  <%= game.title %></div>
              </div>
            </div>
            <div class="body">
              <img src="<%= gulp_asset_path('images/math_man-icon.png') %>" alt=""/>
            </div>
            <div class="footer">
              <div class="rating"></div>
            </div>
          </a>
        </div>
        <% end %>
        <% end %>
      </div>
    </section>
  </div>
</div>
