<section id="sectionTop" class="headImage">
  <div class="imgContainer">
    <img src="<%= gulp_asset_path('images/header-image.jpg') %>" alt=""/>
  </div>
</section>

<%= render partial: "partials/skillPageHeader" %>

<div class="container">
  <%= render partial: "partials/flash" %>
  <div class="content">
    <section id="skill-information">
      <div class="platform_ctn">
        <div data-toggle="buttons" id="platform_type" class="btn-group">
          <label class="btn btn-primary active">
            <%= radio_button_tag :platform, "Android", true %>
            Android
          </label>
          <label class="btn btn-primary">
            <%= radio_button_tag :platform, "iOS", false %>
            iOS
          </label>
          <label class="btn btn-primary">
            <%= radio_button_tag :platform, "Web", false %>
            Web
          </label>
        </div>
      </div>
      <div class="game-list">
        <% @games.each do |game| %>
          <% if game.android_link != nil %>
            <div class="game android_link">
              <a href="<%= game.android_link %>" target="<%= game.android_link %>">
                <div class="header">
                  <p class="title">
                    <%= game.title %>
                  </p>
                </div>
                <div class="body">
                  <img src="<%= gulp_asset_path('images/math_man-icon.png') %>" alt=""/>
                </div>
                <div class="footer">
                  <div class="rating">
                  </div>
                </div>
              </a>
            </div>
          <% end %>
          <% if game.ios_link != nil %>
            <div class="game ios_link">
              <a href="<%= game.ios_link %>" target="<%= game.ios_link %>">
                <div class="header">
                  <p class="title">
                    <%= game.title %>
                  </p>
                </div>
                <div class="body">
                  <img src="<%= gulp_asset_path('images/math_man-icon.png') %>" alt=""/>
                </div>
                <div class="footer">
                  <div class="rating">
                  </div>
                </div>
              </a>
            </div>
          <% end %>
          <% if game.web_link != nil %>
            <div class="game web_link">
              <a href="<%= game.web_link %>" target="<%= game.web_link %>">
                <div class="header">
                  <p class="title">
                    <%= game.title %>
                  </p>
                </div>
                <div class="body">
                  <img src="<%= gulp_asset_path('images/math_man-icon.png') %>" alt=""/>
                </div>
                <div class="footer">
                  <div class="rating">
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
</div>
