<section id="sectionTop" class="headImage">
  <div class="imgContainer">
    <img src="<%= gulp_asset_path('images/header-image.jpg') %>" alt=""/>
  </div>
</section>

<%= render partial: "partials/skillPageHeader" %>

<div class="container">
  <%= render partial: "partials/flash" %>
  <div class="content">
    <section id="skill-information">
      <div class="game-list">
        <div class="game">
          <a href="https://play.google.com/store/apps/details?id=com.gadoworld.mathman" target="https://play.google.com/store/apps/details?id=com.gadoworld.mathman">
            <div class="header">
              <p class="titel">
                Math Man
              </p>
            </div>
            <div class="body">
              <img src="<%= gulp_asset_path('images/math_man-icon.png') %>" alt=""/>
            </div>
            <div class="footer">
              <div class="rating">
                <div class="stars">
                  <img src="<%= gulp_asset_path('images/star.png') %>" alt=""/>
                  <img src="<%= gulp_asset_path('images/star.png') %>" alt=""/>
                  <img src="<%= gulp_asset_path('images/star.png') %>" alt=""/>
                  <img src="<%= gulp_asset_path('images/star.png') %>" alt=""/>
                  <img src="<%= gulp_asset_path('images/star.png') %>" alt=""/>
                </div>
                <p>12.354 Ratings</p>
              </div>
            </div>
          </a>
        </div>
        <div class="game">
          <a href="https://play.google.com/store/apps/details?id=org.altervista.luma23.towerNumber" target="https://play.google.com/store/apps/details?id=org.altervista.luma23.towerNumber">
            <div class="header">
              <p class="titel">
                Tower Number
              </p>
            </div>
            <div class="body">
              <img src="<%= gulp_asset_path('images/tower_number-icon.png') %>" alt=""/>
            </div>
            <div class="footer">
              <div class="rating">
                <div class="stars">
                  <img src="<%= gulp_asset_path('images/star.png') %>" alt=""/>
                  <img src="<%= gulp_asset_path('images/star.png') %>" alt=""/>
                  <img src="<%= gulp_asset_path('images/star.png') %>" alt=""/>
                  <img src="<%= gulp_asset_path('images/star.png') %>" alt=""/>
                  <img src="<%= gulp_asset_path('images/star_empty.png') %>" alt=""/>
                </div>
                <p>376 Ratings</p>
              </div>
            </div>
          </a>
        </div>
      </div>
  </section>
</div>

</div>
