<div class="cell{{#if this.collected}} collected{{/if}}{{#if this.completed}} completed{{/if}}"
  title="{{this.title}} [{{this.grade}}.{{this.domain_id}}.{{this.id}}]">
  <img src="assets/images/grade-{{this.grade}}{{#if this.completed}}_completed{{/if}}.png" alt="" />
</div>
