<header>
  <nav class="menu">
    <div class="container">
      <div class="nav-left">
        <%= link_to({:controller => '/welcome', :action => 'show'}) do %>
        <img class="honeIcon" src="<%= gulp_asset_path("images/kidmooc.svg") %>" alt="">
        <span class="normal">Start</span>
        <% end %>
      </div>
      <div class="nav-right">
        <ul id="navList">
          <% if user_signed_in? %>
            <li><%= link_to 'Profile', edit_user_registration_path, class: 'profile' %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'logout' %></li>
          <% else %>
            <li><%= link_to 'Log In', new_user_session_path, class: 'profile' %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path, class: 'logout' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
