<!DOCTYPE html>
<html lang="en">
	<body class="boundaries">
		<%= render partial: "partials/navbar" %>
		<% if flash[:notice] %>
			<div class="alert-info alert"><%= flash[:notice] %></div>
		<% end %>
		<h3><%= @domain.screening_title %></h3>
		<h4>Click on a game to download through your mobile device: </h4>
		<table class = "table table-striped", style = "width:80%">
			<tr>
				<td><h4>Game</h4></td>
				<td><h4>Description</h4></td>
				<td><h4>Platform</h4></td>
			</tr>
			<% @games.each do |game| %>
				<tr>
					<td>
						<%= link_to game.link, :target => "_blank" do %>
							<% game.title %>
						<% end %>
					</td>
					<td>
						<%= game.description %>
					</td>
					<td>
						<% if game.platform == 1 %>
							<%= "Android" %>
						<% else %>
							<%= "iOS" %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>
	</body>
</html>