<div class="container">
  <%= render partial: "partials/flash" %>
  <h1>Add a new Game</h1>
  <%= form_for @game, url: {action: "create"}, html: {class: "form-group"} do |f| %>
  <div class="form-group">
    <%= f.label "Title:" %><br>
    <%= f.text_field :title, class: 'form-control', :placeholder => "App Name"  %><br>
  </div>
  <div class="form-group">
    <%= f.label "Android link:" %><br>
    <%= f.text_field :android_link, class: 'form-control', :placeholder => "https://play.google.com/store/apps/..." %><br>
  </div>
  <div class="form-group">
    <%= f.label "iOS link:" %><br>
    <%= f.text_field :ios_link, class: 'form-control', :placeholder => "https://itunes.apple.com/de/app/..."  %><br>
  </div>
  <div class="form-group">
    <%= f.label "Web-App link:" %><br>
    <%= f.text_field :web_link, class: 'form-control', :placeholder => "https://www.domain.com/..."  %><br>
  </div>
  <div class="form-group">
    <%= f.label "Skills:" %><br>
    <%= select_tag(:skillBox, {}, {:class=>"skillBox form-control selectpicker",  :multiple => true}) %>
  </div>
  <div class="form-group">
    <%= f.submit "Add my Game", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $(".skillBox").select2();
  });

  $.getJSON("../api/v1/skills?course_id=1", function (skills) {
    for (var i = 0; i < skills.length; i++) {
      $('.skillBox').append('<option value="' + skills[i].id + '">' + skills[i].title + ' [Grade ' + skills[i].grade + ']</option>')
    }
  });
</script>
