<!DOCTYPE html>
<html lang="en">
	<body class="boundaries">
		<%= render partial: "partials/navbar" %>
		<% if flash[:notice] %>
			<div class="alert-info alert"><%= flash[:notice] %></div>
		<% end %>
		<div class="login-form form-horizontal">
			<%= form_for @game, url: {action: "create"}, html: {class: "form-group nifty_form"} do |f| %>
				<div class="form-group">
					<%= f.label "Title:", class: 'control-label col-sm-2' %><br>
					<div class=" col-sm-10">
						<%= f.text_field :title %><br>
					</div>
				</div>
				<div class="form-group">
					<%= f.label "Description:", class: 'control-label col-sm-2' %><br>
					<div class="col-sm-10">
						<%= f.text_area :description, size: "60x12" %><br>
					</div>
				</div>
				<div class="form-group">
					<%= f.label "Link to Store:", class: 'control-label col-sm-2' %><br>
					<div class="col-sm-8">
						<%= f.text_field :link %><br>
					</div>
				</div>
				<div class="form-group">
					<%= f.label "Passing Score:", class: 'control-label col-sm-2' %><br>
					
						<%= f.text_field :passing_score, placeholder: "any float value <= 10" %><br>
					
				</div>
				<div class="form-group">
					<%= f.label "Platform", class: 'control-label col-sm-2' %><br>
					<div class="col-sm-10">
						<%= f.select :platform, options_for_select([["Android", "1"], ["iOS", "2"]]) %><br>
					</div>
				</div>
				<%= f.hidden_field :primary_skill_id, :value => @skill.id %>
				<%= f.hidden_field :secondary_skill_id, :value => 0 %>
				<div class="col-sm-offset-2 col-sm-10">
				<%= f.submit "Register my Game", class: 'btn btn-default' %>
			<% end %>
		</div>

	</div>
	</body>
</html>


	
	
	
	
	
	

